# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Jupyter
.ipynb_checkpoints/

# Data files (usually too large for git)
data/
*.csv
*.parquet
*.db

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# conda
environment.yml.lock

